.Wrapper
  .Sidebar
    .User-name
      .Top-items
        .Top-items__name
          peoc
        .Top-items__icons
          = icon('far', 'edit',class: "icons__edit")
          = icon('fas', 'cog')
    .Group-list
      .Group
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
      .Group
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
      .Group
        .Group__name
          techcamp
        .Group__message
          まだメッセージがありません
  .Chat-main
    .Group-info
      .Group-info__name
        techcamp
        .Group-info__name__member
          Member:peoc
      .Group-info__icons
        = link_to "#",class: "Group-info__icons__Edit" do
          Edit
    .Message-list
      .Message-info
        .Message-info__user
          peoc
        .Message-info__date
          2020/7/8(wed) 16:00:00
      .Message-text
        おはようございます
      .Message-info
        .Message-info__user
          peoc
        .Message-info__date
          2020/7/8(wed) 16:00:00
      .Message-text
        おはようございます
      .Message-info
        .Message-info__user
          peoc
        .Message-info__date
          2020/7/8(wed) 16:00:00
      .Message-text
        おはようございます
    .Message-form
      .Form
        %input{type: "text", class: "Form__text", placeholder: "type a message"}
        %label{class: "Form__img"}
          =icon('far','image')
          %input{type: "file", class: "Form__img__file"}
      %input{type: "submit", value: "Send", class: "submit-btn"}